:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /*  */
  --sky: rgb(56 189 248);
  --bgslate100: rgb(241 245 249);
  --bgslate300: rgb(203 213 225);
  --bgslate500: rgb(100 116 139);
  --bgcyan50: rgb(236 254 255);
  --bgsky400: rgb(56 189 248);
  --grey200: rgb(229 231 235);
  --grey500: rgb(107 114 128);
  --txtblue500: rgb(59 130 246);
  --txtblue900: rgb(30 58 138);
}

body {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.scroll-bar::-webkit-scrollbar {
  width: 1px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--grey500);
  outline: 1px solid var(--bgslate500);
}

/* general */
.box-shadow {
  box-shadow: 1px 1px 3px var(--bgslate300);
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.subtitle-1 {
  font-size: 18px;
  font-weight: 500;
}

.txt-color-grey {
  color: var(--grey500);
}

.font-style-italic {
  font-style: italic;
}
