/* podPreview */
.pod-preview {
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pod-preview__mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pod-preview__metadata {
  font-size: 12px;
  text-align: center;
}

.pod-preview__metadata h3 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 10px;
}

.pod-preview__metadata h4 {
  color: var(--bgslate500);
}
