/* footer   */
.footer {
  border-top: 1px solid var(--grey500);
  padding: 10px;
  margin-top: 40px;

  font-size: 10px;
  color: var(--grey500);

  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px;
}

.footer__name {
  padding-left: 20px;
}
