/* header */
.header-container {
  width: 100%;
}

.header-top {
  font-size: 24px;
  color: var(--bgsky400);
  border-bottom: 1px solid var(--grey200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.header-top button {
  background-repeat: no-repeat;
  width: 100px;
  height: 70px;
}

.header-bottom {
  display: flex;
  justify-content: right;
}

.header-top__podcast-underway {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bgsky400);
  animation: fadeInFadeOut 5s infinite;
}

@keyframes fadeInFadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 5s infinite;
}
