/* podcast detail */
.podcast-detail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcast-detail img {
  margin: 0 auto;
}

.podcast-detail__author {
  border: 1px solid var(--grey200);
  border-left: 0;
  border-right: 0;
  width: 100%;
  margin: 30px 0;
  padding: 20px;
}

.podcast-detail__author p {
  font-style: italic;
}

.podcast-detail__description {
  padding-left: 20px;
  width: 100%;
}
